$orange:     #ee5025;
$darkgray:   #282a24;
$lightgray:  #32342D;
$cream:      #EFF0D1;

.wrapper {

	.about-perry {
		background: $cream;

		.section-heading {
			color: $darkgray;
			margin-bottom: 7px;
		}

		.perry-profile-pic {
			width: 75px;
			height: 75px;
			margin-right: 8px;
			display: inline-block;
			background: #FFF;
			line-height: 80px;
			text-align: center;
			float: left;
		}

		.perry-background {
			margin-top: -3px;
			margin-bottom: 15px;
		}
	}


	.contact-perry, .contact-newspring {
		margin-right: 20px;
		display: inline-block;

		.contact-perry-snippet, .contact-newspring-snippet {
			margin-bottom: 3px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.perry-social-icon, .newspring-social-icon {
			width: 8px;
			height: 8px;
			margin-top: 2px;
			margin-right: 5px;
			background: $orange;
			display: inline-block;
		}

		.perry-social-link, .newspring-social-link {
			color: $orange;
			font-size: 13px;
		}
	}

	.about-newspring {
		background: $darkgray;

		.newspring-background {
			color: $cream;
			margin-bottom: 18px;
		}

		.contact-newspring {
			margin-bottom: 10px;
		}
	}
}