$orange:     #ee5025;
$darkgray:   #282a24;
$lightgray:  #32342D;
$cream:      #EFF0D1;

.nav {

    a {
        color: #FFF;
        padding: 10px 0;
        padding-left: 10px;
        background: $darkgray;
        display: block;
        list-style: none;
        font-size: 20px;
        text-transform: uppercase;
        font-family: "Memphis", serif;
    }

    .spacer {
        height: 2px;
        padding: 0;
        background: #FFF;
    }
}